<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll</title>
    <style>
        .scroll {
            display:flex;
        }
    </style>
</head>
<body>
    <section class="scroll">
        <img src="/static/img/a1.jpeg" alt="image">
        <img src="/static/img/a2.jpeg" alt="image">
        <img src="/static/img/a3.jpeg" alt="image">
        <img src="/static/img/a4.jpeg" alt="image">
    </section>
</body>
</html>